@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BengalPixel';
  src: url('/fonts/BengalpixelRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BlazhePixel';
  src: url('/fonts/BlazhepixelRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gbboot';
  src: url('/fonts/Gbboot.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.title-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.press-start {
  font-family: 'Pokemon', sans-serif;
  text-align: center;
  /* animation: blink 1s infinite; */
}

image {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}